.map {
  height: 350px;
  background-position: center;
  background-size: cover;
}

.margin-top-negative {
  margin-top: -75px;
}

.flat-show-card {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.show-flex-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.show-share-title {
  margin-bottom: 0;
}
