<div class="home-body-wrapper">
    <div class="banner-container">
        <div class="banner-content">
            <h1>RomainBnb</h1>
                <div>
                    <%= link_to 'Browse Flats',  flats_path, class: 'create-button-link'  %>
                </div>
        </div>
    </div>
</div>