.flat-index-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  @media (min-width: 650px) {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }

  @media (min-width: 945px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
  }
}

.card-content {
  padding: 20px;
  position: relative;
}

.flat-index-rating-p {
  position: absolute;
  right: 0;
  color: red;
}
